<h2><i>Click story</i></h2>
<div id="articles"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="commentorName" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="commentorName">
                    </div>
                    <div class="form-group">
                        <label for="comment" class="col-form-label">Comment:</label>
                        <textarea class="form-control" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitComment" data-id="5c9d19c4372a772712f5fd21" type="button"
                    class="btn btn-primary">Submit comment</button>
            </div>
        </div>
    </div>
</div>